.App {
  text-align: center;
}


#loginPage {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/images/AdobeStock_251353227_Preview.jpg");
  background-size: cover;
  background-position: center;
}


#loginForm {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  border-radius: 10px;
  padding: 2%;
  margin-top: 3%;

}


#credentials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#credentials > div {
  margin-right: 1%;
  margin-left: 1%;
}

#buttonsLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


#loginForm .btn {
  width: 98%;
  margin: 1%;
}


#loginPage .text {
  background-color: white;
  color: black;
  font-size: 4.5vw;
  width: 75%;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5%;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate( -50%);
  mix-blend-mode: screen;
}

#guestPage {
  height: 100vh;
  background-image: url("../public/images/AdobeStock_532064812_Preview.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  overflow-y: scroll;
}


#guestPage .text {
  background-color: white;
  color: black;
  font-size: 5vw;
  width: 35%;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 5%;
  mix-blend-mode: screen;

}

#searchForm {
  display: block;
  position: relative;
  width: 30%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

}


#input-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 3%;
  align-items: center;

}

.form-floating {
  grid-column: span 9;
}

.fa-magnifying-glass {
  margin-left: 2%;
  display: flex;
  justify-content: center;
  margin-top: -50%;
}

.dropdown {
  margin-bottom: 4%;
  width: 100%;
}

.dropdown-menu {
  margin-bottom: 4%;
  width: 100%;
}

#cardGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  width: 100%;
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

#cardGroup > * {
  margin-bottom: 5%;
}



img {
  width: 200px;
  height: 150px;
}

#tabImg {
  width: 25px;
  height: 25px;
}

#employeePage {
  height: 100vh;
  background-image: url("../public/images/AdobeStock_251352975_Preview.jpg");
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

#employeePage .text {
  background-color: white;
  color: black;
  font-size: 5vw;
  width: 35%;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 5%;
  mix-blend-mode: screen;
}

#tableEmployee {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  width: 80%;
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.table thead th,
.table tbody td,
.table th[scope="row"] {
  color: white;
}

.table tbody tr:hover td,
.table tbody tr:hover th[scope="row"]{
  color: #307853;
}


#employeePage .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#adminPage {
  height: 100vh;
  background-image: url("../public/images/AdobeStock_588809381_Preview.jpg");
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

#adminPage .text {
  background-color: white;
  color: black;
  font-size: 5vw;
  width: 35%;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 5%;
  mix-blend-mode: screen;
}

#addUserCard {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7%;
  margin-bottom: 5%;

}

#statsPlantsPage {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/images/AdobeStock_270213289_Preview.jpeg");
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}
#statsPlantsPage h2{
  text-align: center;
}

#charts{
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin-left: 5%;
  margin-top: 5%;
}

#flagButtons{
  display: flex;
  justify-content: center;
  gap: 7%;
  margin-top: 2%;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}



